[user]
	email = vivekmalneedi@gmail.com
	name = Vivek Malneedi
	signingkey = 3F7C36B376F96C60
[color]
	ui = true
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[aliases]
    code-changes = "!git log --format=format: --name-only | egrep -v '^$' | sort | uniq -c | sort -rg | head -10"
    cc = "!git code-changes"
[pull]
	rebase = true
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
