mpd/.config/mpd/playlists/
mpd/.config/mpd/mpd.db
mpd/.config/mpd/pid
mpd/.config/mpd/state
mpd/.config/mpd/sticker.sql
*.log
ncmpcpp/.ncmpcpp/art.sh
ncmpcpp/.ncmpcpp/artconfig
*.pyc
beets/
beets/.config/beets/library.db
zsh/.zsh_plugins.sh
nvim/.config/nvim/.netrwhist
mpDris2.service
__pycache__/
