Xft.dpi: 132
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.termName: rxvt-unicode
URxvt.scrollBar: false
URxvt.transparent: false
URxvt.font: xft: SauceCodePro Nerd Font Mono:style=Regular:pixelsize=24, xft: Source Code Pro for Powerline:style=Regular:pixelsize=24, xft: DejaVuSansMono Nerd Font:pixelsize=24
URxvt.boldFont: xft: SauceCodePro Nerd Font Mono:style=Bold:pixelsize=24, xft: Source Code Pro for Powerline:style=Bold:pixelsize=24, xft: DejaVuSansMono Nerd Font:style=Bold:pixelsize=24
URxvt.letterSpace: -1
URxvt.saveLines: 1000000
URxvt.internalBorder:  0

!URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: firefox
!URxvt.keysym.M-u: perl:matcher:selec
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5

*.foreground:   #ffeefc
*.background:   #141021
*.cursorColor:  #c16772

! black
URxvt*.color0:       #4f4858
URxvt*.color8:       #545d67

! red
URxvt*.color1:       #c05c47
URxvt*.color9:       #c16772

! green
URxvt*.color2:       #428e8e
URxvt*.color10:      #afda6e

! yellow
URxvt*.color3:       #e4b226
URxvt*.color11:      #ebcf1a

! blue
URxvt*.color4:       #4457a3
URxvt*.color12:      #4880a5

! magenta
URxvt*.color5:       #903a62
URxvt*.color13:      #9568a1

! cyan
URxvt*.color6:       #7aa1dc
URxvt*.color14:      #abbcda

! white
URxvt*.color7:       #c4b7c5
URxvt*.color15:      #ffeefc

rofi.color-enabled: true
rofi.color-window: #141021, #c16772, #9568a1
rofi.color-normal: #141021, #ffeefc, #312842, #c16772, #ffeefc
rofi.color-active: #141021, #c05c47, #312842, #c05c47, #ffeefc
rofi.color-urgent: #141021, #e4b226, #312842, #e4b226, #ffeefc
rofi.width: 800
rofi.padding: 50
rofi.font: PragmataPro Nerd Font 24
rofi.bw: 3
rofi.separator-style: solid
rofi.hide-scrollbar: true
